.container {
  display: flex;
  flex-direction: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100px;
  position: relative;
  margin-left: 50px;

  h2 {
    font-family: "Nunito";
    font-size: 1.2rem;
    font-weight: 1;
    color: var(--blanc);
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
  }

  input[type="text"] {
    position: absolute;
    right: 10%;
    outline: none;
    width: 60%;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    font-size: 1.2rem;
    font-family: "Nunito";
    background-color: var(--noir2);
    color: var(--blanc);
    transition: 0.2s;
  }

  input[type="text"]:focus {
    float: left;
    margin-left: -50px;
    width: 90%;
    height: auto;
    overflow: hidden scroll;
    z-index: 9999;
  }

  input:hover {
    box-shadow: 0 0 0 2px var(--blue);
  }

  input:focus {
    box-shadow: 0 0 0 2px var(--blue);
  }
}
