.container {
  display: flex;
  flex-direction: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 150px;
  position: relative;
  margin-bottom: 0px;
  border-bottom: 2px solid var(--noir2);

  .flexbox {
    h2 {
      font-size: 2rem;
      font-weight: bold;
      font-family: "Nunito";
      color: #fff;
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
    }
    input[type="text"] {
      outline: none;
      width: auto;
      height: auto;
      border: none;
      border-radius: 5px;
      padding: 10px;
      margin: 0;
      font-size: 2rem;
      font-family: "Nunito";
      background-color: var(--noir2);
      color: var(--blanc);
      transition: 0.3s;
    }

    input[type="text"]:nth-child(1) {
      width: 0%;
    }

    input:hover {
      box-shadow: 0 0 0 2px var(--blue);
    }

    input:focus {
      box-shadow: 0 0 0 2px var(--blue);
    }
  }
}
